.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.flag {
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-details {
    padding: 20px;
}

.details-wrapper {
    margin: 20px 0;
}

.details-card {
    display: flex;
}

.name-details {
    font-family: 'Nunito Bold';
}

.data-details {
    margin-left: 8px;
}

@media screen and (min-width: 750px) {
    .card {
        max-width: 500px;
    }
}